<h1>Liste des reviews</h1>

<ul>
    {% for review in reviews %}
        <li>
            <strong>Utilisateur : {{ review.user.username }}</strong> - 
            {# <strong>Cours : {{ review.cours.title }}</strong> -  #}
            Commentaire : {{ review.content }} - 
            Note : {{ review.rating }}
        </li>
    {% else %}
        <li>Aucun commentaire trouvé.</li>
    {% endfor %}
</ul>